*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color{
    background-image: url(https://www.hdwallpapers.in/download/abstract_color_background_picture_8016-1920x1200.jpg);
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 100px 0; */
}

.bg{
    background-color: rgba(232, 239, 240, 0.178);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(206, 205, 205, 0.575);
    /* padding: 50px;  */
    /* width: 60%;
    margin: 0 auto; */
}

i{
    color: rgb(27, 27, 238);
}

a{
    color: rgb(24, 233, 24);
    text-decoration: none;
}

a:hover{
    color: red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.142);
    backdrop-filter: blur(20px);
    color: white;
    padding: 0px 50px;
    position: fixed;
 
}

ul{
    display: flex;
    gap: 40px;
}

ul li{
    list-style: none;

}

ul li a{
}

.shadow{
    box-shadow: 3px 7px 30px -3px rgba(0,0,0,0.38);
    -webkit-box-shadow: 3px 7px 30px -3px rgba(0,0,0,0.38);
    -moz-box-shadow: 3px 7px 30px -3px rgba(0,0,0,0.38);
}

.bg-color{
        
    padding: 100px 0;
}

@media (max-width:767px) {
    .bg-color{
        
        padding: 50px 0;
    }
}