*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark {
  background-color: #121212 !important;
  background-image: url('/images/background.jpg');
}

.card {
  background-color: #1e1e1e44;
  color: #fff;
}

.control {
  background-color: #02123173;
  border: none;
  color: #fff;
}

.control:focus {
  box-shadow: none;
  border: 1px solid #0dcaf0;
  background-color: #444444;
  color: white
}

a {
  color: #0dcaf0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.control::placeholder {
    color: #a5a4a4;
}

 